.buildpath
.settings/
.project
*.patch
.idea/
.git/
txf-client/node_modules/
txf-admin/runtime/
txf-admin/vendor/
txf-admin/public/
txf-server/runtime/
txf-server/vendor/
txf-server/public/
.phpintel/
.DS_Store
.phpunit*
